*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
text-transform: capitalize;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    background-color: black;
    min-height:100vh ;
    width: 100%;
    overflow: hidden;
    position: relative;

}
header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
align-items: center;
padding: 20px 0;
}
.logo{
    width: 40px;
}
ul li{
    display: inline-block;
   
}
ul li a:hover{
    background-color: white;
    color: black;

}
ul li:hover{
    transform: scale(1.2);

}
ul li a{
    color: white;
    margin: 0 10px;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px ;

}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;

}
.content .text {
    width: 40%;
    color: white;
}
.content .text h2{
    font-size: 40px ;
}
.content .text p{
    font-size: 18px;
    margin: 20px 0;

}
.content .text a{
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 8px 20px ;
    border-radius: 20px;
    margin-top: 10px;
}
.content .text a:hover{
    color: white;
    background-color: black;
}
.content .image{
    width: 30%;

}
.content .image img{
    width: 180px;
}
.icons{
    position: absolute;
    bottom:20px ;
    left: 50%;
    transform: translatex(-50%);
}
.icons img{
    width: 70px;
    transition: 0.5s;
    cursor: pointer;

}
.icons img:hover{
    transform: scale(1.2);
}

/* mediasquery */
@media screen and (max-width: 600px ) {
    header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: auto;
    align-items: center;
    padding: 20px 0;
    margin: 5px;
    }
    
    .icons{
        position: absolute;
        top: 600px ;
        margin: auto 90px;
        min-width: 100vh;
        margin-top: 90px;
        margin-left: 140px;
    }
    .icons img{
        width: 70px;
        transition: 0.5s;
        cursor: pointer;
    
    }
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: auto;
    margin-bottom: 90px;
    }
}